:root {
  --font-heading: Roboto;
  --font-body: Roboto;
  --space-1: 1px;
  --space-2: 3.2px;
  --space-3: 4.8px;
  --space-4: 5px;
  --space-5: 6px;
  --space-6: 6.4px;
  --space-7: 8px;
  --space-8: 12px;
  --space-9: 12.8px;
  --space-10: 16px;
  --space-11: 19.2px;
  --space-12: 22.4px;
  --space-13: 24px;
  --space-14: 25.6px;
  --space-15: 32px;
  --space-16: 33px;
  --space-17: 38.4px;
  --space-18: 48px;
  --space-19: 64px;
  --space-20: 112px;
}
